@import "fonts.css";
body {
  font-family: "ApercuProMono";
  width: 100%;
}
.wrap-header,
.wrap-ua-columnist-review,
.wrap-social-icons {
  width: 100%;
}
.wrap-header {
  background-color: #000;
}
.wrap-social-icons {
  background-color: #fff4d8;
}
.press-reviews,
.ua-columnist-review,
.tickets,
.social-icons,
.footer {
  width: 960px;
  margin: 0 auto;
}
.wrap-1-header {
  max-width: 1300px;
  margin: 0 auto;
}
.wrap-2-header {
  height: 0;
  padding-bottom: 50.77%;
  background: url("../images/main_image.png") no-repeat;
  background-size: cover;
  position: relative;
}
.header {
  color: #fff;
  padding-top: 1px;
}
.header .header-logo {
  width: 10.6%;
  margin: 1.53% auto;
  text-align: center;
}
.header .header-logo img {
  width: 100%;
}
.header .header-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.header .header-menu .header-menu-about-show,
.header .header-menu .header-menu-about-1927,
.header .header-menu .header-menu-tickets,
.header .header-menu .header-menu-facebook {
  position: absolute;
  margin: 2.31%;
}
.header .header-menu .header-menu-about-1927 {
  right: 0;
}
.header .header-menu .header-menu-tickets {
  bottom: 0;
}
.header .header-menu .header-menu-facebook {
  bottom: 0;
  right: 0;
}
.header .header-menu a {
  font-family: "ApercuProBold";
  color: #fff;
}
.header .header-info {
  font-size: 0;
}
.header .header-info .header-info-abstract,
.header .header-info .header-info-video,
.header .header-info .header-info-dataAndPlace {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  text-align: center;
}
.header .header-info .header-info-abstract,
.header .header-info .header-info-dataAndPlace {
  width: 26.15%;
}
.header .header-info .header-info-video {
  width: 47.7%;
  height: 0;
  padding-top: 13.85%;
  padding-bottom: 13.85%;
  box-shadow: 0 10px 30px 5px #000;
}
.header .header-info .header-info-video img,
.header .header-info .header-info-video iframe {
  position: relative;
}
.header .header-info .header-info-video img {
  top: -24px;
  cursor: pointer;
}
.header .header-info .header-info-abstract {
  padding: 0 1% 0 13%;
  font-size: 16px;
  font-family: "ApercuProMono";
  line-height: 22px;
}
.header .header-info .header-info-dataAndPlace {
  padding: 0 13% 0 1%;
  font-size: 24px;
  font-family: "ApercuProBold";
  line-height: 36px;
}
.header .header-info:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.header .header-partners {
  width: 21.54%;
  margin: 3.1% auto;
  text-align: center;
  font-size: 0;
}
.header .header-partners a {
  position: relative;
}
.header .header-partners a img {
  vertical-align: middle;
  margin: 0 1.8%;
}
.header .header-partners a:first-child img {
  width: 37.7%;
}
.header .header-partners a:last-child img {
  width: 55.1%;
}
.press-reviews h1,
.tickets h1 {
  font-family: "ApercuProBold";
  text-align: center;
  font-size: 24px;
  padding: 75px 0 45px 0;
}
.press-reviews h1.rotation-180,
.tickets h1.rotation-180 {
  transform: rotate(180deg);
}
.press-reviews {
  padding: 0 10px;
  box-sizing: border-box;
  text-align: center;
  line-height: 24px;
  font-size: 0;
}
.press-reviews>div {
  box-sizing: border-box;
  margin: 50px 0;
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  width: 300px;
  vertical-align: top;
}
.press-reviews>div p:first-child {
  font-size: 16px;
}
.press-reviews>div p:last-child {
  font-size: 14px;
  text-transform: uppercase;
}
.press-reviews h1 {
  border-bottom: 10px solid #153a4e;
}
.wrap-fox-cutting {
  overflow: hidden;
}
.ua-columnist-review {
  padding: 1px 10px;
  box-sizing: border-box;
  position: relative;
}
.ua-columnist-review .ua-columnist-review-info {
  float: left;
  width: 140px;
}
.ua-columnist-review .ua-columnist-review-info p {
  text-align: center;
  line-height: 25px;
  padding-top: 12.5px;
}
.ua-columnist-review .ua-columnist-review-info p b {
  font-family: "ApercuProBold";
}
.ua-columnist-review .ua-columnist-review-abstract {
  background-color: #fff4d8;
  font-size: 21px;
  line-height: 30px;
  margin: 23px 80px;
  padding: 50px 83px;
}
.ua-columnist-review .ua-columnist-review-abstract p {
  padding-bottom: 10px;
}
.ua-columnist-review .ua-columnist-review-abstract a {
  font-family: "ApercuProBold";
  color: #000;
  position: absolute;
  bottom: 0;
  right: 67px;
  height: 70px;
  width: 300px;
  border: 3px solid #000;
  background-color: #fff;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.ua-columnist-review .ua-columnist-review-abstract:after {
  display: block;
  content: "";
  position: absolute;
  width: 50.81%;
  padding-top: 42.035113%;
  top: -115px;
  right: -41.63%;
  background: url("../images/fox.png") no-repeat;
  background-size: contain;
}
.ua-columnist-review:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.tickets {
  min-width: 480px;
  font-size: 0;
  text-align: center;
}
.tickets>div {
  display: inline-block;
  width: 48%;
  height: 0;
  text-align: center;
  padding-top: 11%;
  padding-bottom: 11%;
  background: url("../images/ticket.png") no-repeat top center;
  background-size: cover;
  position: relative;
}
.tickets>div:before,
.tickets>div:after {
  content: "";
  display: block;
  height: 100%;
  width: 82%;
  background-color: #fff4d8;
  position: absolute;
  left: 9%;
  z-index: -1;
}
.tickets>div:before {
  top: -12%;
}
.tickets>div:after {
  bottom: -12%;
}
.tickets>div a {
  font-size: 24px;
  position: relative;
  top: -12px;
  color: #fff;
  text-transform: uppercase;
}
.wrap-shadows {
  max-width: 1300px;
  margin: 0 auto;
}
.shadows {
  width: 90.46%;
  height: 0;
  padding-top: 20.7%;
  overflow: hidden;
  background: url("../images/shadows.png") no-repeat;
  background-size: cover;
}
.social-icons {
  font-family: "ApercuProBold";
  padding: 60px 0;
  text-align: center;
  font-size: 0;
}
.social-icons .social-icons-facebook,
.social-icons .social-icons-twitter,
.social-icons .social-icons-instagram,
.social-icons .social-icons-site {
  display: inline-block;
  margin: 10px;
  width: 220px;
  box-sizing: border-box;
  height: 165px;
  text-transform: uppercase;
  font-size: 21px;
  padding-top: 100px;
  border: 3px solid #000;
  text-align: center;
}
.social-icons .social-icons-facebook:hover,
.social-icons .social-icons-twitter:hover,
.social-icons .social-icons-instagram:hover,
.social-icons .social-icons-site:hover {
  color: #fff4d8;
  cursor: pointer;
}
.social-icons .social-icons-facebook {
  background: url("../images/sprite_social_icons.png") no-repeat 92px 45px;
}
.social-icons .social-icons-facebook:hover {
  background: url("../images/sprite_social_icons.png") no-repeat 92px -155px #000;
}
.social-icons .social-icons-twitter {
  background: url("../images/sprite_social_icons.png") no-repeat -108px 45px;
}
.social-icons .social-icons-twitter:hover {
  background: url("../images/sprite_social_icons.png") no-repeat -108px -155px #000;
}
.social-icons .social-icons-instagram {
  background: url("../images/sprite_social_icons.png") no-repeat -308px 45px;
}
.social-icons .social-icons-instagram:hover {
  background: url("../images/sprite_social_icons.png") no-repeat -308px -155px #000;
}
.social-icons .social-icons-site {
  background: url("../images/sprite_social_icons.png") no-repeat -508px 45px;
}
.social-icons .social-icons-site:hover {
  background: url("../images/sprite_social_icons.png") no-repeat -508px -155px #000;
}
.social-icons:after {
  display: block;
  content: "";
  visibility: hidden;
  height: 0;
  clear: both;
}
.footer {
  padding: 35px 0;
  font-size: 16px;
  text-align: center;
}
.footer a {
  color: #000;
  text-decoration: none;
}
@media (max-width: 959px) {
  .wrap-1-header {
    min-width: 480px;
  }
  .header .header-info .header-info-abstract {
    padding-left: 10%;
    font-size: 14px;
    line-height: 20px;
  }
  .header .header-info .header-info-dataAndPlace {
    padding-right: 12%;
    font-size: 22px;
    line-height: 30px;
  }
  .press-reviews,
  .ua-columnist-review,
  .tickets {
    width: 100%;
  }
  .press-reviews>div {
    width: 50%;
    margin: 25px 0;
  }
  .ua-columnist-review .ua-columnist-review-abstract:after {
    display: none;
  }
  .social-icons,
  .footer {
    width: 480px;
  }
}
@media (max-width: 767px) {
  .header .header-info .header-info-abstract {
    padding-left: 6%;
    font-size: 12px;
    line-height: 16px;
  }
  .header .header-info .header-info-dataAndPlace {
    padding-right: 10%;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 599px) {
  .header .header-info .header-info-abstract {
    padding-left: 2%;
    font-size: 11px;
    line-height: 14px;
  }
  .header .header-info .header-info-dataAndPlace {
    padding-right: 8%;
    font-size: 16px;
    line-height: 20px;
  }
  .ua-columnist-review {
    min-width: 480px;
  }
  .ua-columnist-review .ua-columnist-review-info {
    float: none;
    width: 100%;
    margin-bottom: -83px;
  }
  .ua-columnist-review .ua-columnist-review-info img {
    float: left;
    margin-right: 23px;
  }
  .ua-columnist-review .ua-columnist-review-info p {
    padding-top: 55px;
    text-align: left;
  }
  .ua-columnist-review .ua-columnist-review-info:after {
    display: block;
    content: "";
    visibility: hidden;
    height: 0;
    clear: both;
  }
  .ua-columnist-review .ua-columnist-review-abstract {
    margin-left: 23px;
    margin-right: 23px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 83px;
  }
  .tickets>div a {
    font-size: 18px;
    top: -9px;
  }
  .press-reviews {
    min-width: 480px;
  }
  .press-reviews>div {
    width: 100%;
    margin: 15px 0;
  }
}
