@import "fonts.css"

background_color = #fff4d8
body_width = 960px
border_style = 3px solid #000

clear_after =
  display block
  content ""
  visibility hidden
  height 0
  clear both

body
  font-family "ApercuProMono"
  width 100%
  //overflow-x hidden
.wrap-header
.wrap-ua-columnist-review
.wrap-social-icons
  width 100%
.wrap-header
 background-color #000
.wrap-social-icons
  background-color background_color
.press-reviews
.ua-columnist-review
.tickets
.social-icons
.footer
  width body_width
  margin 0 auto
.wrap-1-header
  max-width 1300px
  margin 0 auto
.wrap-2-header
  //margin 0 auto
  height 0
  padding-bottom 50.77%
  background url(../images/main_image.png) no-repeat
  background-size cover
  position relative
.header
  color #fff
  padding-top 1px
  .header-logo
    width 10.6%
    margin 1.53% auto
    text-align center
    img
      width 100%
  .header-menu
    position absolute
    left 0
    right 0
    top 0
    bottom 0
    .header-menu-about-show
    .header-menu-about-1927
    .header-menu-tickets
    .header-menu-facebook
      position absolute
      margin 2.31%//30px
    .header-menu-about-1927
      right 0
    .header-menu-tickets
      bottom 0
    .header-menu-facebook
      bottom 0
      right 0
    a
      font-family "ApercuProBold"
      color #fff
  .header-info
    font-size 0
    .header-info-abstract
    .header-info-video
    .header-info-dataAndPlace
      display inline-block
      vertical-align middle
      box-sizing border-box
      text-align center
    .header-info-abstract
    .header-info-dataAndPlace
      width 26.15%
    .header-info-video
      width 47.7%
      height 0
      padding-top (27.7/2)%
      padding-bottom (27.7/2)%
      box-shadow 0 10px 30px 5px #000
      img, iframe
        position relative
      img
        top -(48/2)px
        cursor pointer

    .header-info-abstract
      padding 0 1% 0 13%
      font-size 16px
      font-family "ApercuProMono"
      line-height 22px
    .header-info-dataAndPlace
      padding 0 13% 0 1%
      font-size 24px
      font-family "ApercuProBold"
      line-height 36px
    &:after
      {clear_after}
  .header-partners
    width 21.54%
    margin 3.1% auto
    text-align center
    font-size 0
    a
      position relative
      img
        vertical-align middle
        margin 0 1.8%
    a:first-child img
      width 37.7%
    a:last-child img
      width 55.1%
.press-reviews
.tickets
  h1
    font-family "ApercuProBold"
    text-align center
    font-size 24px
    padding 75px 0 45px 0
    &.rotation-180
      transform rotate(180deg)
.press-reviews
  padding 0 10px
  box-sizing border-box
  text-align center
  line-height 24px
  font-size 0
  &>div
    box-sizing border-box
    margin 50px 0
    padding-left 10px
    padding-right 10px
    display inline-block
    width (body_width/3 - @padding-left - @padding-right)
    vertical-align top
    p:first-child
      font-size 16px
    p:last-child
      font-size 14px
      text-transform uppercase
  h1
    border-bottom 10px solid #153a4e
.wrap-fox-cutting
  overflow hidden
.ua-columnist-review
  padding 1px 10px
  box-sizing border-box
  position relative
  .ua-columnist-review-info
    float left
    width 140px
    p
      text-align center
      line-height 25px
      padding-top (@line-height/2)
      b
        font-family "ApercuProBold"
  .ua-columnist-review-abstract
    background-color background_color
    font-size 21px
    line-height 30px
    margin 23px 80px
    padding 50px 83px//83px = .ua-columnist-review-info:width - &:margin-left + target(23px)
    p
      padding-bottom 10px
    a
      font-family "ApercuProBold"
      color #000
      position absolute
      bottom 0
      right 80px - 23px + 10px// &:margin - target + ua-columnist-review:padding
      height 70px
      width 300px
      border border_style
      background-color #fff
      line-height @height
      text-align center
      text-decoration none
      text-transform uppercase
      cursor pointer
    &:after
      display block
      content ""
      position absolute
      width 50.81%
      padding-top @width*0.8273
      top -115px
      right -@width + 9.18%
      background url(../images/fox.png) no-repeat
      background-size contain
  &:after
    {clear_after}
.tickets
  min-width (body_width/2)
  font-size 0
  text-align center
  &>div
    display inline-block
    width 48%//100*460/960   100*image_width/body_width
    height 0
    text-align center
    padding-top 11%//0.5*100*212/960    0.5*100*image_height/body_width
    padding-bottom 11%//   -//-
    background url(../images/ticket.png)  no-repeat top center
    background-size: cover;
    position relative
    &:before
    &:after
      content ""
      display block
      height 100%
      width 82%
      background-color background_color// - #999
      position absolute
      left 9%
      z-index -1
    &:before
      top -12%
    &:after
      bottom -12%
    a
      font-size 24px
      position relative
      top -(@font-size/2)
      color #fff
      text-transform uppercase

.wrap-shadows
  max-width 1300px
  margin 0 auto
.shadows
  width 90.46%
  height 0
  padding-top 20.7%
  overflow hidden
  background url(../images/shadows.png) no-repeat
  background-size cover

.social-icons
  font-family "ApercuProBold"
  padding 60px 0
  text-align center
  font-size 0
  .social-icons-facebook
  .social-icons-twitter
  .social-icons-instagram
  .social-icons-site
    display inline-block
    margin 10px
    width (body_width/4 - @margin*2)//220px
    box-sizing border-box
    height 165px
    text-transform uppercase
    font-size 21px
    padding-top 100px
    border border_style
    text-align center
    &:hover
      color #fff4d8
      cursor pointer
  .social-icons-facebook
    background url(../images/sprite_social_icons.png) no-repeat 92px 45px
    &:hover
      background url(../images/sprite_social_icons.png) no-repeat 92px (45px - 200px) #000
  .social-icons-twitter
    background url(../images/sprite_social_icons.png) no-repeat (92px - 200px) 45px
    &:hover
      background url(../images/sprite_social_icons.png) no-repeat (92px - 200px) (45px - 200px) #000
  .social-icons-instagram
    background url(../images/sprite_social_icons.png) no-repeat (92px - 2*200px) 45px
    &:hover
      background url(../images/sprite_social_icons.png) no-repeat (92px - 2*200px) (45px - 200px) #000
  .social-icons-site
    background url(../images/sprite_social_icons.png) no-repeat (92px - 3*200px) 45px
    &:hover
      background url(../images/sprite_social_icons.png) no-repeat (92px - 3*200px) (45px - 200px) #000
  &:after
    {clear_after}
.footer
  padding 35px 0
  font-size 16px
  text-align center
  a
    color #000
    text-decoration none

@media (max-width: body_width - 1px)
  .wrap-1-header
    min-width 480px
  .header
    .header-info
      .header-info-abstract
        padding-left 10%
        font-size 14px
        line-height 20px
      .header-info-dataAndPlace
        padding-right 12%
        font-size 22px
        line-height 30px
  .press-reviews
  .ua-columnist-review
  .tickets
    width 100%
  .press-reviews
    &>div
      width 50%
      margin 25px 0
  .ua-columnist-review
    .ua-columnist-review-abstract:after
      display none
  .social-icons
  .footer
    width (body_width/2)
@media (max-width: 768px - 1px)
  .header
    .header-info
      .header-info-abstract
        padding-left 6%
        font-size 12px
        line-height 16px
      .header-info-dataAndPlace
        padding-right 10%
        font-size 18px
        line-height 24px
@media (max-width: 600px - 1px)
  .header
    .header-info
      .header-info-abstract
        padding-left 2%
        font-size 11px
        line-height 14px
      .header-info-dataAndPlace
        padding-right 8%
        font-size 16px
        line-height 20px
  .ua-columnist-review
    min-width (body_width/2)
    .ua-columnist-review-info
      float none
      width 100%
      margin-bottom -83px
      img
        float left
        margin-right 23px
      p
        padding-top 55px
        text-align left
      &:after
        {clear_after}
    .ua-columnist-review-abstract
      margin-left 23px
      margin-right 23px
      padding-left 50px
      padding-right 50px
      padding-top 83px
  .tickets
    &>div
      a
        font-size 18px
        top -(@font-size/2)
  .press-reviews
    min-width (body_width/2)
    &>div
      width 100%
      margin 15px 0